<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>569601820257-atp20u5qvi7pav0dj882mu4fpsrgs5i0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.569601820257-atp20u5qvi7pav0dj882mu4fpsrgs5i0</string>
	<key>API_KEY</key>
	<string>AIzaSyD6rPDD95qFddM1Vs83-avC2Stm7eVqHck</string>
	<key>GCM_SENDER_ID</key>
	<string>569601820257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dreamCode.Chat</string>
	<key>PROJECT_ID</key>
	<string>chat-275a2</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-275a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:569601820257:ios:ddab8f39553bfb77</string>
	<key>DATABASE_URL</key>
	<string>https://chat-275a2.firebaseio.com</string>
</dict>
</plist>