<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>consumer_key</key>
        <string>VVzEL8EQsyxai23OtCMRzUQlA</string>
        <key>consumer_secret</key>
        <string>Yijsx79LDOAmkG7GN85xUCDKyTLsu4lcCf9SvGj1A70CsTwsHZ</string>
    </dict>
</plist>

